/*/=====================================================================================================================
// Styles for Basic Twitter Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.twitterContainer{
    width: 280px;
    height: 500px;
    background-color: lightskyblue;
    border: 1px solid darkblue;
    padding: 15px;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/