/*/=====================================================================================================================
// Styles for Game-Of-Life Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Fundamental Classes === /*/

.cell{
    width: 40px;
    height: 40px;
    background-color: #FF1493;
    border: 3px solid darkred;
    border-radius:15px;
}

.cellCore{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 40%;
	background-color: mediumvioletred;
	border: 1px solid #000000;
	border-radius:7px;
}

/*/ === END: Fundamental Classes === /*/

/*====================================================================================================================*/
