/*/=====================================================================================================================
// Styles for Bundle Container for Webble World v3.0 (2013)
// Created By: Micke Nicander Kuwahara
//====================================================================================================================*/

/*/ === BEGIN: Bundle Classes === /*/

.bundleMaster{
    width: 5px;
    height: 5px;
    border: 1px dotted #d3d3d3;
    background-color: transparent;
}

/*/ === END: Bundle Classes === /*/

/*====================================================================================================================*/