/*/=====================================================================================================================
// Styles for Hands-On-Portal Deep Learning App for Webble World v3.0 (2013)
// Created By: Jonas Sjobergh
// Edited By: Micke Kuwahara (truemrwalker)
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.deepLearningAppWrapper{
    font-size: 48px;
    width: 450px;
    height: 250px;
    background-color: grey;
    border: 2px solid black;
    border-radius:5px;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/
