/*/=====================================================================================================================
// Styles for Image Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Image Classes === /*/

.imageContainer{
    border: 2px solid black;
}

.theImage{
    width: 150px;
    height: auto;
}

/*/ === END: Image Classes === /*/

/*====================================================================================================================*/