/*/=====================================================================================================================
// Styles for Hands-on-Portal Support for Webble World v3.0 (2013)
// Created By: Micke Kuwahara (truemrwalker)
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.HoPSupportCarrier{
    font-size: 9px;
    width: 100px;
    height: 17px;
	color: white;
    background-color: #961c1c;
    border: 1px solid black;
	padding-left: 3px;
	padding-top: 1px;
    border-radius:5px;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/
