/*/=====================================================================================================================
// Styles for [WEBBLE TEMPLATE NAME] for Webble World v3.0 (2013)
// Created By: [WEBBLE TEMPLATE AUTHOR]
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Fundamental Classes === /*/

.placeholder {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, "Comic Sans MS", "Times New Roman", sans-serif;
    background-color: grey;
    width: 100px;
    height: 100px;
}

/*/ === End: Fundamental Classes === /*/

.attachCRFform {
    /* GRADIENT COLOR */
    /* fallback */
    background-color: #fff68f;
    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, left top, from(white), color-stop(0.20, #fff68f), color-stop(0.7, khaki), to(#cdc673));*/
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left top, white, #fff68f 20%, khaki 70%, #cdc673);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left top, white, #fff68f 20%, khaki 70%, #cdc673);
    /* IE 10 */
    background: -ms-linear-gradient(left, white, #fff68f 20%, khaki 70%, #cdc673);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, white, #fff68f 20%, khaki 70%, #cdc673);

    border: 2px solid darkkhaki;
    overflow: hidden;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.viewCRFform {
    /* GRADIENT COLOR */
    /* fallback */
    background-color: #fff68f;
    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, left top, from(white), color-stop(0.20, #fff68f), color-stop(0.7, khaki), to(#cdc673));*/
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left top, white, #fff68f 20%, khaki 70%, #cdc673);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left top, white, #fff68f 20%, khaki 70%, #cdc673);
    /* IE 10 */
    background: -ms-linear-gradient(left, white, #fff68f 20%, khaki 70%, #cdc673);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, white, #fff68f 20%, khaki 70%, #cdc673);

    border: 2px solid darkkhaki;
    overflow: hidden;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/*====================================================================================================================*/
