<!--====================================================================================================================
    // View for [WEBBLE TEMPLATE NAME] for Webble World v3.0 (2013)
    // Created By: [WEBBLE TEMPLATE AUTHOR]
    //===================================================================================================================-->

<!--IMPORTANT NOTE: Only have one div (or other containing element) in the outer area as the one and only main container
    for all elements that might follow (or not)
    <div>[Other Content]</div>-->

<!--IMPORTANT NOTE 2: If you wish to include your own libraries and files, either from CDN or uploaded to the template
    do NOT include them in this HTML file (as one might think) but instead list them in the manifest
    file included in the Webble Dev Pack-->

<!--For AngularJS power the outer element must include 'ng-controller' which point to the controller function as it is
    named in the controllers file-->


<div id="workboard" ng-controller="workboardWebbleCtrl">
	<div id="placeholder" class="placeholder">
		Workboard
	</div>
</div>

<!--=================================================================================================================-->


<!--==================================================-->
<!--************** Attach CRF form Form **************-->
<!--==================================================-->

<script type="text/ng-template" id="attachCRFform.html">
	<div id="attachCRFform" class="container-fluid padcontent"  data-formclass="attachCRFform">

		<div class="row">
			<div class="col-xs-3">
				<button ng-click="close('cancel')" class="btn btn-default" style="margin: 0 3px 3px 0;" translate>Cancel</button>
				<button ng-click="close('submit')" class="btn btn-primary" style="margin-bottom: 3px;" translate>Submit</button>
			</div>
			<div class="col-xs-9"><h4 class="formTitle" translate>Attach CRF to Event</h4></div>
		</div>

		<div class="dividerLineAbove">
			<div class="row" style="padding-left: 14px; padding-right: 14px;">
				<table>
					<tr ng-style="{'background-color': getRowBkgColor($index)}" ng-repeat="crf in formProps.crfList">
						<td ng-style="{'padding':7}"><input type="checkbox" ng-model="crf.selected"></td>
						<td ng-style="{'padding':5}">{{crf.name}}</td>
						<td ng-style="{'padding':5}">(<u ng-click="CRFinfo(crf.id)">CRF content</u>)</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="dividerLineAbove">
		</div>

	</div>
</script>
<!--==============================================================-->

<!--================================================-->
<!--************** View CRF form Form **************-->
<!--================================================-->

<script type="text/ng-template" id="viewCRFform.html">
	<div id="viewCRFform" class="container-fluid padcontent"  data-formclass="viewCRFform">

		<div class="row">
			<div class="col-xs-3">
				<button ng-click="close('close')" class="btn btn-default" style="margin: 0 3px 3px 0;" translate>Close</button>
			</div>
			<div class="col-xs-9"><h4 class="formTitle" translate>{{formProps.title}}</h4></div>
		</div>

		<div class="dividerLineAbove">
			<div class="row" style="padding-left: 14px; padding-right: 14px;">
				<table id="tableroot" class="tableroot">
					<tr ng-style="{'background-color': getRowBkgColor($index)}"  ng-repeat="question in formProps.clickedCRF">
						<td ng-style="{'padding':5}">{{question.pos}}: <strong>{{question.question}}</strong></td><td> [{{question.type}}]</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="dividerLineAbove">
		</div>
	</div>
</script>
<!--==============================================================-->



<!--====================================================-->
<!--************** Assign Start&End Dates **************-->
<!--====================================================-->

<script type="text/ng-template" id="assignStartAndEndDatesForm.html">
	<div id="assignStartAndEndDatesForm" class="container-fluid padcontent"  data-formclass="attachCRFform">

		<div class="row">
			<div class="col-xs-3">
				<button ng-click="close('cancel')" class="btn btn-default" style="margin: 0 3px 3px 0;" translate>Cancel</button>
				<button ng-click="close('submit')" class="btn btn-primary" style="margin-bottom: 3px;" translate>Submit</button>
			</div>
			<div class="col-xs-9"><h4 class="formTitle" translate>Assign Start and End Dates</h4></div>
		</div>

		<div class="dividerLineAbove">
			<div class="row" style="padding-left: 14px; padding-right: 14px;">
				<table>
					<tr ng-style="{'background-color': getRowBkgColor($index)}" ng-repeat="crfQ in formProps.qList">
						<td ng-style="{'padding':7}"><input type="checkbox" ng-model="crfQ.isStart"></td>
						<td ng-style="{'padding':7}"><input type="checkbox" ng-model="crfQ.isEnd"></td>
						<td ng-style="{'padding':5}">{{crfQ.crfName}}: {{crfQ.question}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="dividerLineAbove">
		</div>

	</div>
</script>
<!--==============================================================-->


<!--==================================================-->
<!--************** Micro Events **********************-->
<!--==================================================-->

<script type="text/ng-template" id="microEventForm.html">
	<div id="microEventForm" class="container-fluid padcontent"  data-formclass="microEventForm">

		<div class="row">
			<div class="col-xs-3">
				<button ng-click="close('cancel')" class="btn btn-default" style="margin: 0 3px 3px 0;" translate>Cancel</button>
				<button ng-click="close('submit')" class="btn btn-primary" style="margin-bottom: 3px;" translate>Submit</button>
			</div>
			<div class="col-xs-9"><h4 class="formTitle" translate>Micro Events</h4></div>
		</div>

		<div class="dividerLineAbove">
			<div class="row" style="padding-left: 14px; padding-right: 14px;">
				<table>
					<tr ng-style="{'background-color': getRowBkgColor($index)}" ng-repeat="microEvent in formProps.microEventList">
						<td ng-style="{'padding':7}">Day: <input type="number" min="1" ng-model="microEvent.day"></td>
						<td ng-style="{'padding':7}">CRF: <select ng-model="microEvent.crf" ng-options="crf.id as crf.name for crf in formProps.crfList"></select></td>
						<td ng-if="microEvent.crf != null">(<u ng-click="CRFinfo(microEvent.crf)">CRF content</u>)</td>
						<td ng-style="{'padding':7}"><span ng-click="removeMicroEvent(microEvent.id)">DELETE</span></td>
					</tr>
				</table>
				<button ng-click="addMicroEvent()" class="btn btn-primary" style="margin: 5px 3px 3px 0;" translate>Add Micro Event</button>
			</div>
		</div>

		<div class="dividerLineAbove">
		</div>

	</div>
</script>
<!--==============================================================-->
