<!--====================================================================================================================
// View for Soap Client Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//===================================================================================================================-->

<div id="SoClHolder" class="SoClHolder" ng-controller="soapClientCtrl">
    <span id="SoClDefault" ng-hide="gimme('displayRes')" class="SoClDefault">REST/SOAP Client Webble</span>
    <textarea id="SoClDisplay" ng-show="gimme('displayRes')" ng-disabled="true" class="SoClDisplay">{{gimme('result')}}</textarea>
</div>

<!--=================================================================================================================-->


<!--************** Add Web Service Parameter Form **************-->
<!--==============================================================-->

<script type="text/ng-template" id="addParam-form.html">
  <div id="addParam-form" class="container-fluid padcontent"  data-formclass="soapWblform-main">

    <div class="row">
      <div class="col-xs-4">
        <button ng-click="close('cancel')" class="btn btn-default" style="margin: 0 3px 3px 0;">Cancel</button>
        <button ng-click="close('submit')" class="btn btn-primary" style="margin-bottom: 3px;">Add</button>
      </div>
      <div class="col-xs-8"><h4 class="formTitle" translate>Add Service Parameter Slot</h4></div>
    </div>

    <div class="dividerLineAbove">
      <div class="row keepTheDistanceBelow">
        <div class="col-xs-4"><span class="formitem">Parameter Name:</span></div>
        <div class="col-xs-7"><input id="paramNameInputBox" class="formitem" type="text" ng-model="formitem.nsName"></div>
        <div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{propMsgs.tooltip.nsName}}"><span style="padding-left: 3px; padding-right: 3px; background-color: white; border: 1px solid #0000ff; font-size: 0.9em;">?</span></div>
      </div>
    </div>
  </div>

  <div class="dividerLineAbove">
    <div class="row">
      <div class="col-xs-12" style="height: 30px;">
        <span style="color: #95c2ff; font-weight: normal; padding-left: 20px;">{{propMsgs.info}}</span>
      </div>
    </div>
  </div>
  </div>
</script>
<!--==============================================================-->
