/*/=====================================================================================================================
// Styles for [WEBBLE TEMPLATE NAME] for Webble World v3.0 (2013)
// Created By: [WEBBLE TEMPLATE AUTHOR]
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Fundamental Classes === /*/

.softSensorAppWrapper{
    font-size: 48px;
    width: 450px;
    height: 250px;
    background-color: grey;
    border: 2px solid black;
    border-radius:5px;
}


/*/ === END: Fundamental Classes === /*/

/*====================================================================================================================*/