/*/=====================================================================================================================
// Styles for Simple Physics Engine Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/


/*/ === BEGIN: Phys Engine Classes === /*/

.physEngineContainer{
    width: 500px;
    height: 300px;
    background-color: #d329c6;
    border: 2px solid black;
    border-radius:2px;
}

/*/ === END: Phys Engine Classes === /*/

/*====================================================================================================================*/
