/*/=====================================================================================================================
// Styles for Simple Physics Engine Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/


/*/ === BEGIN: Phys Engine Classes === /*/

.physEngineContainer{
    width: 500px;
    height: 500px;
    background-color: #fff458;
    border: 2px solid black;
    border-radius:2px;
	padding: 10px;
}

.physEngineHolder{
	width: 476px;
	height: 476px;
	background-color: #d2f0ff;
	border: 2px solid black;
}

/*/ === END: Phys Engine Classes === /*/

/*====================================================================================================================*/
