/*/=====================================================================================================================
// Styles for Web Site Wrapper for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.wcwGrabber{
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    height: 200px;
}

.webContentContainer{
    overflow-x: auto;
    overflow-y: auto;
}

.HTMLTxtContainer{
    overflow-x: auto;
    overflow-y: auto;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/
