/*/=====================================================================================================================
// Styles for DigitalDashboard for Webble World v3.0 (2013)
// Created By: Jonas Sjobergh
//====================================================================================================================*/

/*/ === BEGIN: Fundamental Classes === /*/

.backgroundBox {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, "Comic Sans MS", "Times New Roman", sans-serif;
    background-color: black;
    color: red;
    border-style: solid;
    border-color: yellow;
    width: 400px;
    height: 400px;
}

#mapDrawingArea {
    background-color: lightcoral;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 10px;
}

#mapDiv {
    width: 100%;
    height: 100%
}

/*/ === End: Fundamental Classes === /*/

