/*/=====================================================================================================================
// Styles for Digital Dashboard Plugin Map Webble for Webble World v3.0 (2013)
// Created By: Jonas Sjobergh
// Edited By: Micke Kuwahara (truemrwalker)
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

#mapDrawingArea {
    background-color: lightcoral;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 10px;
}

#mapDiv {
    width: 100%;
    height: 100%
}

/*/ === End: Classes === /*/

