/*/=====================================================================================================================
// Styles for Phaser Game Dev Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/


/*/ === BEGIN: Phaser Game Dev Classes === /*/

.phaserGameDevContainer{
	width: 820px;
	height: 620px;
    background-color: #a3d39e;
    border: 4px solid black;
    border-radius:25px;
	padding: 10px;
}



.gameReSizer{
	width: 15px;
	height: 15px;
	background-color: transparent;
	margin-top: -10px;
	cursor: nwse-resize;
	position: absolute;
}


/*/ === END: Phaser Game Dev Classes === /*/

/*====================================================================================================================*/
