<!--====================================================================================================================
// View for Base Pad for Webble World v3.0 (2013)
// Created By: TrueMrWalker
//===================================================================================================================-->

<div id="basePadFoundation" class="basePadFoundation" ng-style="{'overflow': wblStyles.overflow}" ng-controller="simpleBasePadCtrl">
	<div id="textHolder" class="textHolder" ng-style="{'text-align': wblStyles.txtAlign, 'line-height': wblStyles.lineHeight}" >
		<span id="basePadTitle" class="basePadTitle" ng-style="{'position': wblStyles.position, 'left': wblStyles.left, 'margin-left': wblStyles.marginLeft}">{{gimme('basePadText')}}</span>
	</div>

</div>

<!--=================================================================================================================-->

<!--************** Primary Main Event-Action Form **************-->
<!--==============================================================-->

<script type="text/ng-template" id="child-slotconn-manager-form.html">
	<div id="child-slotconn-manager-form" class="container-fluid padcontent"  data-formclass="cscmform-main">

		<div class="row">
			<div class="col-xs-3">
				<button ng-click="close('cancel')" class="btn btn-default" style="margin: 0 3px 3px 0;" translate>Cancel</button>
				<button ng-click="close('submit')" class="btn btn-primary" style="margin-bottom: 3px;" translate>Submit</button>
			</div>
			<div class="col-xs-9"><h3 class="formTitle" translate>Base-Pad Slot Connection Manager</h3></div>
		</div>

		<div class="dividerLineAbove">
			<div class="row">
				<div class="col-xs-12"><h4 style="text-decoration: underline;" class="formTitle" translate>First Webble <span style="font-size: 14px;">({{formProps.wblData.first.name}})</span></h4></div>
			</div>

			<div class="row keepTheDistanceBelow">
				<div class="col-xs-3"><span class="formTitle" translate>Connected Slot:</span></div>
				<div class="col-xs-7"><select class="formitem" ng-model="formProps.wblData.first.selectedSlot" ng-options="slot.key as slot.name group by slot.cat for slot in formProps.wblData.first.slots"></select></div>
				<div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{formProps.infoTooltips.slots1}}"><span style="padding-left: 3px; padding-right: 3px; background-color: white; border: 1px solid #0000ff; font-size: 0.9em;">?</span></div>
				<div class="col-xs-1"></div>
			</div>

			<div class="row keepTheDistanceBelow">
				<div class="col-xs-3"><span class="formTitle" translate>Connection Directions:</span></div>
				<div class="col-xs-7">
					<input id="slotConnSend" class="formitem" type="checkbox" ng-model="formProps.wblData.first.slotConnDir.send" style="padding-right: 20px;" />
					<label for="slotConnSend" style="margin-top: 5px;" translate>Send</label><br>
					<input id="slotConnReceive" class="formitem" type="checkbox" ng-model="formProps.wblData.first.slotConnDir.receive" />
					<label for="slotConnReceive" translate>Receive</label>
				</div>
				<div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{formProps.infoTooltips.slotDir | translate}}"><span style="padding-left: 3px; padding-right: 3px; background-color: white; border: 1px solid #0000ff; font-size: 0.9em;">?</span></div>
				<div class="col-xs-1"></div>
			</div>

			<div class="row" keepTheDistanceBelow>
				<div class="col-xs-12"><hr style="border-color: dimgrey; display: block; height: 1px; margin: 0 0 3px 0; padding: 0; width: 100%"></div>
			</div>

			<div class="row">
				<div class="col-xs-12"><h4 style="text-decoration: underline;" class="formTitle" translate>Second Webble <span style="font-size: 14px;">({{formProps.wblData.second.name}})</span></h4></div>
			</div>

			<div class="row keepTheDistanceBelow">
				<div class="col-xs-3"><span class="formTitle" translate>Connected Slot:</span></div>
				<div class="col-xs-7"><select class="formitem" ng-model="formProps.wblData.second.selectedSlot" ng-options="slot.key as slot.name group by slot.cat for slot in formProps.wblData.second.slots"></select></div>
				<div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{formProps.infoTooltips.slots2}}"><span style="padding-left: 3px; padding-right: 3px; background-color: white; border: 1px solid #0000ff; font-size: 0.9em;">?</span></div>
				<div class="col-xs-1"></div>
			</div>

			<div class="row">
				<div class="col-xs-12"><hr style="border-top: 3px double navy; width: 100%"></div>
			</div>

			<div class="row">
				<div class="col-xs-12"><h4 style="text-decoration: underline;" class="formTitle" translate>Current Active Slot Connections</h4></div>
			</div>

			<div class="row keepTheDistanceBelow">
				<div class="col-xs-2"><span class="formTitle" translate>This Webble</span></div>
				<div class="col-xs-2"><span class="formTitle" translate>and it's slot</span></div>
				<div class="col-xs-2"><span class="formTitle" translate>Send<br>receive</span></div>
				<div class="col-xs-2"><span class="formTitle" translate>Other Webble</span></div>
				<div class="col-xs-2"><span class="formTitle" translate>and that's slot</span></div>
				<div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{formProps.infoTooltips.slots2}}"><span style="padding-left: 3px; padding-right: 3px; background-color: white; border: 1px solid #0000ff; font-size: 0.9em;">?</span></div>
				<div class="col-xs-1" tooltip-placement="{{adjustTooltipPlacementByDeviceWidth()}}" uib-tooltip="{{deleteTooltipInfo | translate}}"><span ng-click="deleteSlotRequest($index);" style="padding-left: 3px; padding-right: 3px; background-color: red; border: 1px solid #0000ff; font-size: 0.9em; color: white;">X</span></div>
			</div>

		</div>
	</div>

	<div class="dividerLineAbove">
		<div class="row">
			<div class="col-xs-12" style="height: 30px;">
				<span style="color: #95c2ff; font-weight: normal; padding-left: 20px;">{{formProps.info | translate}}</span>
			</div>
		</div>
	</div>
	</div>
</script>
<!--==============================================================-->
