/*/=====================================================================================================================
// Styles for [WEBBLE TEMPLATE NAME] for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: BTN Classes === /*/

.btnGrabber {
    background-color: transparent;
    border: 1px solid #d3d3d3;
}

.btnWbl{
    font-family: "Courier New", "Comic Sans MS", "Times New Roman", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

/*/ === END: BTN Classes === /*/

/*====================================================================================================================*/
