/*/=====================================================================================================================
// Styles for DigitalDashboard for Webble World v3.0 (2013)
// Created By: Jonas Sjobergh
// Edited By: Micke Kuwahara (truemrwalker)
//====================================================================================================================*/

/*/ === BEGIN: CSS Classes === /*/

#dropZone {
    width:450px;
    height:70px;
    padding:10px;
    border:2px solid #4400aa;
}

.backgroundBox {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    background-color: lightgrey;
    color: black;
    border-style: solid;
    border-color: black;
    width: 200px;
    height: 150px;
}

/*/ === End: CSS Classes === /*/

