/*/=====================================================================================================================
// Styles for SODA API Open Data Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Open Data Classes === /*/

.mnkOpenDataHolder{
    width: auto;
    height: auto;
    min-Width: 80px;
    background-color: #a4dfdf;
    border: 2px solid black;
    border-radius:5px;
    padding: 10px;
}

.mnkOpenDataDisplay{
    width: 400px;
    font-family: Georgia, "Times New Roman", "Comic Sans MS", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.mnkOpenDataDefault{
    font-family: Georgia, "Comic Sans MS", "Times New Roman", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


.moreInfoImg1{
	display: none;
}
.moreInfoImg2{
	display: none;
}
.showImgBtn1:focus ~ .moreInfoImg1 {
	display: block;
}
.showImgBtn1:focus {
	font-size: 1px;
	opacity: 0;
}
.showImgBtn2:focus ~ .moreInfoImg2 {
	display: block;
}
.showImgBtn2:focus {
	font-size: 1px;
	opacity: 0;
}

/*/ === END: Open Data Classes === /*/

/*====================================================================================================================*/
