/*/=====================================================================================================================
// Styles for SLIDER Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: SLIDER Webble Classes === /*/

.sliderGrabber{
	width: 280px;
	height: 40px;
    background-color: transparent;
    border: 1px solid #a9a9a9;
	display: inline-block;
    padding-top: 5px;
}

.rangeSlider{

}

/*/ === END: Fundamental Classes === /*/

/*====================================================================================================================*/
