/*/=====================================================================================================================
// Styles for [WEBBLE TEMPLATE NAME] for Webble World v3.0 (2013)
// Created By: [WEBBLE TEMPLATE AUTHOR]
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Fundamental Classes === /*/

.medEvent {
    background-color: #f3d3d3;
    border: 2px solid red;
    border-radius:5px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/*/ === End: Fundamental Classes === /*/

/*====================================================================================================================*/