/*/=====================================================================================================================
// Styles for Blank Sheet Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Blank Sheet Classes === /*/

.blankSheetContainer{
    background-color: #d3d393;
    border: 2px solid black;
	padding: 10px;
}

/*/ === END: Blank Sheet Classes === /*/

/*====================================================================================================================*/
