/*/=====================================================================================================================
// Styles for Free Hand Draw for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.drawingHolder{
    border: 1px solid #d3d3d3;
    padding: 15px;
}

.drawingContainer{
    background-color: white;
    border: 1px solid #000000;
    width: 500px;
    height: 500px;
}

.drawSurface{

}

/*/ === END: Classes === /*/

/*====================================================================================================================*/