/*/=====================================================================================================================
// Styles for Video Recorder Webble Template for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*This file can be completely excluded in the final template. But if you have css classes and style settings it is here
where you preferably put them.*/

/*/ === BEGIN: Fundamental Classes === /*/

.vidrec_base{
    background-color: #ffeec3;
    border: 2px solid black;
    border-radius:5px;
}

.vidrec_btn{
	font-family: Courier New;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

.vidrec_img{
	width: 50px;
	height: 50px;
}

/*/ === END: Fundamental Classes === /*/

/*====================================================================================================================*/
