/*/=====================================================================================================================
// Styles for Date Picker Webble for Webble World v3.0 (2013)
// Created By: TrueMrWalker
//====================================================================================================================*/

/*/ === BEGIN: Date Picker Classes === /*/

.dateContainer{
    background-color: #d3d3d3;
    border: 2px solid black;
    padding: 5px;
}

.datepicker{
    font-family: "Comic Sans MS", "Comic Sans MS", "Times New Roman", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/*/ === END: Date Picker Classes === /*/

/*====================================================================================================================*/
