/*/=====================================================================================================================
// Styles for Color Picker for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.cpContainer{
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    padding: 5px;
}

.colorbox{
    width: 30px; height: 24px;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/
