/*/=====================================================================================================================
// Styles for List Webble for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.listGrabber{
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    min-width: 100px;
    min-height: 20px;
}

.listContainer{
    font-family: "Times New Roman", Arial, sans-serif;
    font-size: 18px;
    color: #000000;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/


/**
 * === FX Lists Styles ===
 */

.fxList ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}
.fxList ul li {
  position: relative;
  z-index: 2;

  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

/*====================================================================================================================*/
