/*/=====================================================================================================================
// Styles for Basic Argument Manager for Webble World v3.0 (2013)
// Created By: truemrwalker
//====================================================================================================================*/

/*/ === BEGIN: Classes === /*/

.argContainer{
    min-width: 70px;
    min-height: 28px;
    text-align: center;
    margin: auto;
    background-color: lightslategray;
    border: 1px solid #000000;
    color: #000000;
    padding: 4px;
}

/*/ === END: Classes === /*/

/*====================================================================================================================*/